<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="Assets/brilliance.svg">
    <link rel="stylesheet" href="../Assets/Shop.css">
    <title>DevArt</title>
</head>
<body>
    <div class="NavBar">
        <a href="../index.html">Home</a>
        <a href="Shop.html">Productos</a>
        <a href="Blog.html">Blogs</a>
        <a href="AboutUs.html">Nosotros</a>
        <a href="Contact.html">Contacto</a>
    </div>



    <footer>
        <div class="footer-content">
            <div class="footer">
                <h3>DevArt</h3>
                <p>Tu hub para arte y creatividad de desarrolladores.</p>
            </div>

            <div class="footer-section">
                <h4>Síguenos</h4>
                <div class="social-links">
                    <a href="https://github.com/Elianbarra/DevArt-Web">GitHub</a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 DevArt. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>